* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Georgia, serif;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background-image: url(/public/Background-color-ataslan);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

header {
  background-color: aqua;
  color: blueviolet;
  padding: 10px;
  margin: 10px;
  text-align: center;
  border-radius: 15px;
}

main {
  padding: 5px 30px 15px;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-item {
  color: white;
  border: 2px solid aqua;
  border-radius: 20px;
  width: 100%;
  display: flex;
  transition: transform 0.3s;
  text-align: justify;
}

.portfolio-item:hover {
  transform: scale(1.03);
}

.portfolio-item img {
  width: 40%;
  height: 60%;
  border-bottom: 2px solid aqua;
  border-radius: 20px;
  padding: 5px;
  margin: 5px;
}

.portfolio-text {
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
}

.portfolio-item h3 {
  margin: 10px;
  padding: 10px;
  background-color: aqua;
  color: blueviolet;
  border-radius: 15px;
}

.portfolio-item p {
  padding: 0 10px 10px;
}

.portfolio-item a {
  display: block;
  padding: 5px;
  margin-left: 10px;
  text-decoration: none;
  background-color: aqua;
  color: blueviolet;
  align-self: flex-start;
  border-radius: 10px;
}

.portfolio-item a:hover {
  background-color: yellow;
  color: blueviolet;
  transform: scale(1.03);
}

footer {
  color: white;
  text-align: center;
  text-decoration: none;
}

footer a:hover {
  color: aqua;
  text-transform: uppercase;
}
